@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  /* Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark_violet: hsl(257, 27%, 26%);

  /* Secondary */
  --red: hsl(0, 87%, 67%);

  /* Neutral */
  --gray: hsl(0, 0%, 75%);
  --gray_violet: hsl(257, 7%, 63%);
  --very_dark_blue: hsl(255, 11%, 22%);
  --very_dark_violet: hsl(260, 8%, 14%);

  /* Text */
  --text_normal: 1.125rem;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.txt-medium {
  font-weight: var(--text_medium);
}

.txt-heavy {
  font-weight: var(--text_heavy);
}

.btn {
    text-align: center;
}

.btn-rounded {
  background-color: var(--cyan);
  color: white;
  border: 1px solid var(--cyan);
  border-radius: 2rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}

.btn-rounded-lg {
  background-color: var(--cyan);
  color: white;
  border: 1px solid var(--cyan);
  border-radius: 3rem;
  padding: 0.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  cursor: pointer;
  width: 7rem;
}

.btn-rounded:hover,
.btn-rounded-lg:hover,
.btn:hover {
  background-color: white !important;
  color: var(--cyan) !important;
  border: 1px solid var(--cyan);
  cursor: pointer;
}

.txt-gray {
  color: var(--gray);
}

.br-tight {
  border-radius: 0.75rem !important;
}

.br-tighter {
    border-radius: .5rem !important;
}

input:focus {
  outline: none;
}

input:disabled {
    cursor: not-allowed;
}

input:disabled::placeholder {
    color: var(--gray);
}
